---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      ILEK!
    </p>
    <p class="table_page">
      <%= link_to "Launch the XML Exercice", "table.html.erb" %>
    </p>
  </div>
</div>
