---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      ILEK!
    </p>
    <p class="index">
      <%= link_to "Launch the XML Exercice", "about" %>
    </p>
  </div>
</div>
