---
title: ILEK - XML Test
---

<div class="container">
  <%= image_tag "logo.png", width: "200" %>
  <p>
    ILEK!
  </p>
  <p class="index">
    <%= link_to "Launch the XML Exercice", "about" %>
  </p>
</div>
